.header-line {
    border-top: grey solid 1px;
}

.header-top {
    margin-bottom: 1%;
    margin-top: 1%;
}
.header-logo {
    align-self: center;
}
.header-search {
    width: 30%;
    height: fit-content;
    border-radius: 8px;
    opacity: 0px;
    background: #F5F5F5;
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
}
.header-input {
    border: none;
    background: transparent;
    outline: none;
    margin: 0 auto;
    text-align: left;
    padding-right: 2%;
    padding-left: 2%;
    width: 60%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.header-image {
    width: 20%;
    padding-left: 5%;
    align-self: center;
}
.header-icon {
    padding-left: 1rem;
    align-self: center;
}

.cart-icon {
    position: relative; 
  }
  
.cart-counter {
    position: absolute;
    top: -5px; 
    right: -5px;
    font-family: "ABeeZee", sans-serif;
    font-size: 8px;
    font-weight: 600;
    color: white;
    background-color: red;
    border-radius: 50%;
    padding: 2px 5px; 
    z-index: 1; 
  }